{% extends 'front/base.html' %}
{% load static %}
{% block meta %}
    <title>Forgot Password - {{webSettingsUniversal.title}}</title>
    <meta name="keywords" content="{{webSettingsUniversal.keywords}}"/>
    <meta name="description" content="{{webSettingsUniversal.description}}">
    <meta name="author" content="Er. Sukumar Satapathy">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Edit Profile - {{webSettingsUniversal.title}}">
    <meta property="og:url" content="{{request.scheme}}://{{ request.get_host }}{{request.get_full_path}}">
    <meta property="og:site_name" content="{{webSettingsUniversal.title}}">
{% endblock %}
{% block content %}
<section class="wrapper bg-soft-primary">
    <div class="container pt-10 pb-20 pt-md-10 pb-md-20 text-center">
        <div class="row">
            <div class="col-xl-5 mx-auto mb-6">
                <h1 class="display-1 mb-3">Forgot Password</h1>
            </div>
        </div>
    </div>
</section>

<section class="wrapper bg-light">
    <div class="container pb-14 pb-md-16">
        <div class="row">
            <div class="col-lg-7 col-xl-6 col-xxl-5 mx-auto mt-n20">
                <div class="card">
                    <div class="card-body p-11 text-center">
                        <h2 class="mb-3 text-center">No Worries</h2>
                        <p class="lead mb-6 text-center">Fill your registered email address to recover your password.</p>
                        {% include 'front/includes/messages.html' %}
                        <form action="{% url 'forgotPassword' %}" method="POST" class="text-start mb-3">
                            {% csrf_token %}
                            <div class="form-floating mb-4">
                                <input type="email" class="form-control" placeholder="Email" id="forgotEmail" name="email">
                                <label for="forgotEmail">Email</label>
                            </div>
                            <button type="submit" class="btn btn-primary rounded-pill btn-login w-100 mb-2">Submit</button>
                        </form>
                        <p class="mb-1"><a href="{% url 'login' %}" class="hover">Got Password? Login</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}