{% extends 'front/base.html' %}
{% load static %}
{% load embed_video_tags %}
{% block meta %}
    <title>{{singleService.category.title}} - Laughter Yoga For Health</title>
    <meta name="description" content="{{singleService.meta_description}}">
    <meta name="keywords" content="{{singleService.meta_keywords}}"/>
    <meta name="author" content="Er. Sukumar Satapathy">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{singleService.meta_title}}" />
    <meta property="og:url" content="{{request.scheme}}://{{request.get_host}}{{request.get_full_path}}"/>
    <meta property="og:site_name" content="Laughter Yoga For Health" />
{% endblock %}
{% block content %}
<section class="wrapper bg-soft-primary">
    <div class="container pt-10 pb-10 pt-md-14 pb-md-10 text-center">
        <div class="row">
            <div class="col-xl-5 mx-auto mb-6">
                <h1 class="display-1 mb-3">{{singleService.category.title}}</h1>
                <p class="lead mb-0">{{singleService.category.short_description}}</p>
            </div>
        </div>
    </div>
</section>
<section class="wrapper bg-light">
    <div class="container py-10 py-md-13">
        <div class="row gx-lg-8 gx-xl-12">
            <div class="col-lg-8">
                <div class="blog single">
                    <div class="card">
                        <figure class="overlay overlay-1 hover-scale">
                            <img src="{{singleService.category.image.url}}" alt="{{singleService.category.title}}"/>
                        </figure>
                        <div class="card-body">
                            <div class="classic-view">
                                <article class="post">
                                    <div class="post-content mb-5">
                                        <h2 class="h1 mb-4 text-gradient gradient-7">{{singleService.title}}</h2>
                                    </div>
                                    <div class="post-content mb-5">
                                        {{singleService.description|safe}}
                                    </div>
                                    <div class="post-content mb-5">
                                        {% video singleService.video_url '710x400' %}
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'front/includes/sidebar.html' %}
        </div>
    </div>
</section>
{% endblock %}