{% extends 'back/base.html' %}
{% load static %}
{% block meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Add Testimonials - {{webSettingsUniversal.title}}</title>
    <meta name="keywords" content="{{webSettingsUniversal.keywords}}"/>
    <meta name="description" content="{{webSettingsUniversal.description}}">
    <meta name="author" content="Er. Sukumar Satapathy">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Add Testimonials - {{webSettingsUniversal.title}}">
    <meta property="og:url" content="{{request.scheme}}://{{ request.get_host }}{{request.get_full_path}}">
    <meta property="og:site_name" content="{{webSettingsUniversal.title}}">
{% endblock %}
{% block content %}
<div class="page-content">
    <div class="container-fluid">
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0 font-size-18"></h4>
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}" target="_parent">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'listTestimonials' %}" target="_parent">List Testimonials</a></li>
                            <li class="breadcrumb-item active">Add Testimonial</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- end page title -->
        <div class="row">
            <div class="col-xl-8">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Add Testimonials</h5>
                        <p class="card-title-desc">You can use the below form to submit your testimonial. <span class="text-danger">*</span> are required fields.</p>
                        {% include 'back/includes/messages.html' %}
                        <form action="{% url 'addTestimonial' %}" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-floating mb-3">
                                        {{tForm.fullName}}
                                        <label>Title <span class="text-danger">*</span></label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-floating mb-3">
                                        {{tForm.designation}}
                                        <label>Designation <span class="text-danger">*</span></label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        {{tForm.message|safe}}
                                        {{tForm.media}}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="mt-2 mb-4">
                                        <label>Image <span class="text-danger">*</span></label>
                                        {{tForm.image}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-floating mb-3">
                                        {{tForm.status}}
                                        <label>Status</label>
                                        <small class="text-secondary">Draft: to hide your testimonial.</small>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-primary w-md">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extraFJS %}
<script src="{% static 'back/assets/js/pages/form-validation.init.js' %}"></script>
{% endblock %}